{%  extends 'mash/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SavageMash Rankings</title>
</head>
<body>
{% block content %}

    <h2>Rankings</h2>
    <h3>Top rated savages at the moment.</h3>

    <div>
    <h1>1.</h1>
    <img src="{{ rankings.0.image.url }}" height="400" width="400">
    <h1>{{ rankings.0.name }}</h1>
    <p>Elo Rating: {{ rankings.0.rating }}</p>
    </div>

    <div>
    <h1>2.</h1>
    <img src="{{ rankings.1.image.url }}" height="400" width="400">
    <h1>{{ rankings.1.name }}</h1>
    <p>Elo Rating: {{ rankings.1.rating }}</p>
    </div>

    <div>
    <h1>3.</h1>
    <img src="{{ rankings.2.image.url }}" height="400" width="400">
    <h1>{{ rankings.2.name }}</h1>
    <p>Elo Rating: {{ rankings.2.rating }}</p>
    </div>

{% endblock %}
</body>
</html>